<!DOCTYPE html>
<html>
<head>
  <title>BitMaker</title>
  <%= stylesheet_link_tag    "bit_maker/application", media: "all" %>
  <%= javascript_include_tag "bit_maker/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
